@model List<Mission6_Stuart.Models.Collection>

<table class="table">
    <thead class="fw-bold">
        <tr>
            <td>Title</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Category</td>
            <td>Lent To</td>
            <td>Copied to Plex</td>
            <td>Notes</td>
            <td>Actions</td>
        </tr>
    </thead>

    @foreach (var movie in Model)
    {
        <tbody>
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Year</td>
                <td>@movie.Director</td>
                <td>@movie.Rating</td>
                <td>@movie.Category?.CategoryName</td> 
                <td>@movie.LentTo</td>
                <td>@movie.CopiedToPlex</td>
				<td>@movie.Notes</td>
                <td>
                    <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@movie.MovieId">Edit</a>
                    <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@movie.MovieId">Delete</a>
                </td>
            </tr>
        </tbody>
    }
</table>

@if (Model == null || !Model.Any())
{
    <p>No movies found.</p>
}
